a {
  text-decoration: none;
}

#figure-container h1 {
  color: red !important;
  margin-bottom: 50px !important;
}

figure {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 290px;
  height: 300px;
  padding: 20px 20px;
  background-image: linear-gradient(#A2D5AB, #39AEA9);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
figure:before, figure:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}
figure:after {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
figure:hover {
  background-size: 175%;
}
figure:hover:after {
  content: '♣︎';
  /* background-color: rgba(241, 196, 15, 0.9); */
  background-color: black;
  color: white;
  font-size: 72px;
  z-index: 2;
}

figure:hover:after {
  content: '♣︎';
  /* background-color: rgba(241, 196, 15, 0.9); */
  background-color: black;
  color: white;
  font-size: 72px;
  z-index: 2;
}

figure:hover:after {
  content: '♣︎';
  /* background-color: rgba(241, 196, 15, 0.9); */
  background-color: black;
  color: white;
  font-size: 72px;
  z-index: 2;
}
figure:hover figcaption {
  transform: translateY(-110%);
}
figure figcaption {
  color: white;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;
}
figure figcaption h4 {
  margin: 0 0 5px;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 24px;
  line-height: 1.35;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
figure figcaption h4 > span {
  background-color: rgba(241, 196, 15, 0.8);
}
figure figcaption p {
  margin: 0;
  line-height: 1.5;
}
