@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400;1,500&family=Roboto:wght@100;500;700&display=swap');
:root {
  --primary-color: #d4ecdd;
  --secondary-color: #2C3333;
  --Montserrat: "Montserrat", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --text-uppercase: uppercase;
}
